{% extends 'base.html' %}

{% block title %}Ink Screen{% endblock %}

{% block content %}

<p id="about">&copy; <script>document.write(new Date().getFullYear())</script>
    <a href="http://amelia.green" target="_blank">Amelia Green</a>, 
    <a href="http://katrinahumberjuma.tech" target="_blank">Katrina Huber_Juma</a>, 
    <a href="https://www.linkedin.com/in/amberstaab" target="_blank">Amber Staab</a>, and 
    <a href="http://www.christineurban.net" target="_blank">Christine Urban</a>. 
    All rights reserved.</p>

{% endblock %}