
{% extends "base.html" %}
{% block title %}Image Added{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<h2>Tattoo Found</h2>
<p>
The tattoo you've submitted is a strong match. We've added your image to our
database to continue improving the accuracy of our results.
</p>

<p>
If you're looking for help--for yourself or for someone you know who may be a
victim--we recommend the following resources:
</p>
<ul>
    <li>
    <li>
    <li>
</ul>

<p>
If you would like us to send an anonymous text message offering help, please
enter the phone number of the tattoed person below:

    <form action="/send-text" method="POST">
        <input type="number" id="phone" name="phone-number" placeholder="555-555-5555">
        <br>
        <input type="submit" value="Save">
    </form>
</p>
{% endblock %}