{% extends 'base.html' %}

{% block title %} title? {% endblock %}

{% block content %}
    <h1>Ink Spills</h1>
    <a href="./check.html"><button>Check Tattoo</button></a>
    <p>See if your photo of a tattoo matches images of tattoos know to be assosciated with sex trafficking</p>
    <label>Image**</label>
    <input type="file" name="image" id="image" required><br><br>
    <button>Add Tattoo</button>
    <p>Upload an image of a know sex trafficking tattoo to add it to this database</p>
 {% endblock %}