{% extends 'base.html' %}

{% block title %}Ink Screen{% endblock %}

{% block content %}

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="script" id="ink-logo">Ink Screen</p>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <form action="/process-form" enctype="multipart/form-data" id="tattoo-file" method="POST">
                        <input type="file" name="image" id="image" class="btn" required>&nbsp;&nbsp;
                        <br>
                        <input type="radio" name="known-unknown" value="known"> I know this is a tattoo associated with trafficking
                        <br>
                        <input type="radio" name="known-unknown" value="unknown"> I would like to check if this tattoo is associated with trafficking
                        <br><br>
                        <button type="submit" class="btn">Check Tattoo</button>
                        <br><br>
                    </form>
                </div>
            </div><!--/row -->
        </div> <!-- /container -->
    </div><!--/headerwrap -->
    
{% endblock %}

